


.burger-modal{
    position: fixed;
    width: 100%;
    height:100%;
    padding:20px 27px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.burger-button-close{
    position: absolute;
    top: 20px;
    right:20px;
    background-color: transparent;
    border: none;
    stroke: var(--primary-color);
    
}

.burger-pages-list{
    display: flex;
    flex-direction: column;

    align-items: center;
    color: var(--primary-color);
}
.burger-pages-list a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 18px;
}
.burger-pages-list a:hover{
    border-bottom: 1px solid var(--primary-color);
    scale: 1.1;
    transition: 300ms;
}
.burger-button-close:hover{
   
    scale: 1.2;
    transition: 300ms;
}
.burger-pages-list a:not(:last-child){
    margin-bottom: 16px;
}
.social-links-list{
    position: absolute;
    bottom:20px;
    display: flex;
    flex-direction: row;

    
}

.social-links-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(244, 244, 244, 0.1);
    border-radius: 10px;
    width: 44px;
    height: 44px;
    fill: var(--primary-color);
}

.social-links-list li:not(:last-child){
    margin-right: 12px;
}
.social-links-list :hover{
   scale: 1.05;
   transition: 300ms;
}

@media screen and (min-width: 768px) {
    .burger-modal{
        display: none;
    }
  }