.exercise-quote {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote {
  display: flex;
  border-radius: 20px;
  background-color: var(--second-color);
  padding: 20px;
  gap: 18px;
}

.quote-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(244, 244, 244, 0.2);
  flex-shrink: 0;
}

.quote-icon-img {
  fill: var(--primary-color);
}

.quote-title {
  position: relative;
  margin-bottom: 8px;

  color: var(--primary-color);

  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.icon-quote-img {
  position: absolute;
  top: 0;
  right: 0;
}

.quote-text {
  margin-bottom: 16px;
  color: rgba(244, 244, 244, 0.6);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.quote-author {
  color: var(--primary-color);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.daily {
  display: flex;
  gap: 16px;
  min-height: 200px;
  padding: 20px;

  border-radius: 20px;
  background-color: #fff;
}

.daily-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--second-color);
  flex-shrink: 0;
}

.daily-title {
  color: var(--second-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.daily-descr {
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 16px;
}

.daily-text {
  overflow: hidden;
  color: #242424;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;

  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */

  -webkit-box-orient: vertical;
}

.img-exe {
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .exercise-quote {
    /* min-width: 100%; */
    display: grid;
    grid-template-columns: 400px 288px;
    gap: 16px;
  }
  /* .exercise-quote:nth-child(odd) {
    max-width: 400px;
  }

  .exercise-quote:nth-child(even) {
    width: 288px;
  } */

  .quote {
    padding: 40px;
  }
  .quote-title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 6px;
  }

  .quote-text {
    margin-bottom: 18px;
  }

  .quote-author {
    font-size: 15px;
    line-height: 1.5;
  }

  .daily {
    padding: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .exercise-quote {
    display: flex;
    max-width: 444px;
    gap: 32px;
  }
}
