.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: rgba(4, 4, 4, 0.4);
  align-items: center;
  justify-content: center;
}

.modal-info {
  position: relative;
  padding: 40px 20px;
  width: 100%;
  max-width: 335px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--second-color);
  color: var(--primary-color);
  flex-direction: column;
}

.modal-get-raiting {
  position: relative;
  padding: 40px 20px;
  width: 100%;
  max-width: 335px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--second-color);
  color: var(--primary-color);
  flex-direction: column;
}

.rating-modal-container-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.heart-icon-img {
  fill: transparent;
  stroke: black;
}

.raiting-form {
  padding-top: 20px;
  max-width: 295px;
}

.raiting-form-field-input,
.raiting-form-field-comment {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--primary-color);
  color: rgba(244, 244, 244, 0.6);
  background-color: inherit;
  font-size: 14px;
  line-height: 18px; /* 128.571% */
}

.raiting-form-field-input {
  border-radius: 30px;
}

.raiting-form-field-comment {
  min-height: 93px;
  resize: none;
  border-radius: 15px;
}

.raiting-form-submit {
  color: var(--second-color);
  font-size: 14px;
  line-height: 18px; /* 128.571% */
  padding: 12px 131px;
  border-radius: 30px;
  background: var(--primary-color);
}

.title-card-get-rating {
  color: var(--color-text-in-card);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.modal-decoration-line {
  width: 100%;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: rgba(244, 244, 244, 0.2);
}

.modal-img {
  border-radius: 12px;
}

.title-collum {
  color: var(--color-text-in-card);
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.data-collumn {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.about-exercise {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  line-height: 18px; /* 128.571% */
  padding-top: 20px;
}

.modal-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 0;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.title-card-modal {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px; /* 100% */
}

.modal-button-close {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  stroke: var(--primary-color);
  fill: var(--primary-color);
}

.remote-favorites {
  font-size: 13px;
}

.add-favorite-js,
.add-rating {
  display: flex;
  padding: 12px 19px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
}

.add-favorite-js {
  background-color: var(--primary-color);
  color: var(--second-color);
  font-size: 16px;
  font-style: normal;
}

.add-rating {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
}

.button-section-modal {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}

.add-rating:hover {
  border: 1px var(--primary-color);
  color: var(--second-color);
  background-color: var(--primary-color);
}

.add-favorite-js:hover {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

.add-favorite-js:hover {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

.add-favorite-js:hover .heart-icon-img {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.add-favorite-js:hover .trash-icon-img {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.raiting-form-submit:hover {
  background-color: var(--second-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.close-icon-img {
  transition: transform 0.5s ease-out;
}

.modal-button-close .close-icon-img:hover {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .modal-info {
    padding: 32px;
    width: 100%;
    max-width: 708px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .modal-get-raiting {
    padding: 40px 20px;
    max-width: 430px;
  }

  .get-rating-container {
    max-width: 350px;
    padding-left: 20px;
  }

  .raiting-form {
    padding-top: 20px;
    max-width: 350px;
  }

  .raiting-form-field-input,
  .raiting-form-field-comment {
    font-size: 16px;
  }

  .modal-img {
    width: 270px;
    height: 259px;
  }

  .add-favorite-js,
  .add-rating {
    padding: 12px 22px;
    font-size: 16px;
  }

  .add-favorite-js {
    display: flex;
    gap: 8px;
  }
}
