.scroll-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  background-color: var(--second-color);
  color: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button-icon {
  fill: var(--primary-color);
}

.scroll-up-button.hidden {
  display: block;
  opacity: 0;
  visibility: hidden;
}

.scroll-up-button:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

.scroll-up-button:hover {
  background-color: var(--stars-background-active-color);
}

@media (min-width: 768px) {
  .scroll-up-button {
    width: 60px;
    height: 60px;
    right: 35px;
  }
}

@media (min-width: 1440px) {
  .scroll-up-button {
    width: 65px;
    height: 65px;
    right: 50px;
  }
}
