<div class="burger-modal visually-hidden" id="burger">
  <button class="burger-button-close" id="burger-button-close">
    <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16" stroke="white">
      <use href="./img/svg/sprite.svg#icon-close" />
    </svg>
  </button>
  <nav class="burger-pages-list">
    <a href="./index.html" class="burger-pages-list-item">Home</a>
    <a href="./favorites.html" class="burger-pages-list-item">Favorites</a>
  </nav>
  <ul class="social-links-list">
    <li>
      <a class="social-links-list-item" href="https://www.facebook.com/goITclub/" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32">
          <use href="./img/svg/sprite.svg#icon-facebook" />
        </svg>
      </a>
    </li>
    <li>
      <a class="social-links-list-item" href="https://www.instagram.com/goitclub/" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32">
          <use href="./img/svg/sprite.svg#icon-instagram" />
        </svg>
      </a>
    </li>
    <li>
      <a class="social-links-list-item" href="https://www.youtube.com/c/GoIT" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32">
          <use href="./img/svg/sprite.svg#icon-youtube" />
        </svg>
      </a>
    </li>
  </ul>
</div>
