<did class="burger-modal">
    <svg  xmlns="http://www.w3.org/2000/svg" width="32px" height="32"> 
        <use href="./img/icons.svg#icon-close" fill="white" />
      </svg>
      <ul>
        <li>Home</li>
        <li>favorites</li>
      </ul>
      <ul class ="social-links">
        <li>
    
          <svg  xmlns="http://www.w3.org/2000/svg" width="32px" height="32"> 
            <use href="./img/icons.svg#icon-facebook" fill="#242424" />
          </svg>
        </li >
        <li>
    
          <svg  xmlns="http://www.w3.org/2000/svg" width="32px" height="32"> 
            <use href="./img/icons.svg#icon-instagram" fill="#242424" />
          </svg>
        </li>
        <li>
    
          <svg  xmlns="http://www.w3.org/2000/svg" width="32px" height="32"> 
            <use href="./img/icons.svg#icon-youtube" fill="#242424" />
          </svg>
        </li>
       
      </ul>
</did>