<section class="exercises">
  <ul class="exercises_list">
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <div class="exercises_list_item_icon_star">
            <svg class="exercises_list_item_icon_svg_star" width="18px" height="18px">
              <use xlink:href="./img/icons.svg#icon-star" fill=""></use>
              />
            </svg>
          </div>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="./img/icons.svg#icon-running-man"></use>
            />
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
    <li class="exercises_list_item">
      <div class="exercises_list_item_up">
        <div class="exercises_list_item_up_left">
          <div class="exercises_workout">workout</div>
          <p class="exercises_rating">4.0</p>
          <button class="exercises_star">
            <svg class="exercises_star_icon" width="18px" height="18px">
              <use xlink:href="../img/icons.svg#icon-star"></use>
            </svg>
          </button>
        </div>
        <div class="exercises_list_item_up_right">
          <button class="exercises_btn_start">
            <p class="exercises_btn_start_text">start</p>
            <svg class="exercises_btn_start_icon" width="56px" height="18px">
              <use xlink:href="../img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="exercises_list_item_middle">
        <div class="exercises_list_item_middle_icon">
          <svg class="exercises_list_item_middle_icon_svg" width="24px" height="24px">
            <use xlink:href="../img/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h3 class="exercises_list_item_middle_title">Air bike</h3>
      </div>
      <div class="exercises_list_item_bottom">
        <ul class="exercises_list_item_bottom_list">
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">
              Burned calories: <span>312 / 3 min</span>
            </p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Body part: <span>Waist</span></p>
          </li>
          <li class="exercises_list_item_bottom_list_item">
            <p class="exercises_list_item_bottom_list_item_text">Target: <span>Abs</span></p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
