<div class="container exercises-container">
  <h3 class="exercises-header">Exercises</h3>
  <ul class="exercises-list exercises-list-js">
    <li class="exercise-item">
      <div class="exercise-container">
        <a href="" class="">
          <svg class="" aria-label="" width="18" height="18">
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </a>
        <h4 class="exercise-title">Air bike</h4>
        <p class="exercise-description"></p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <a href="" class="">
          <svg class="" aria-label="" width="18" height="18">
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </a>
        <h4 class="exercise-title">3/4 sit-up</h4>
        <p class="exercise-description"></p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <a href="" class="">
          <svg class="" aria-label="" width="18" height="18">
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </a>
        <h4 class="exercise-title">45° side bend</h4>
        <p class="exercise-description"></p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <a href="" class="">
          <svg class="" aria-label="" width="18" height="18">
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </a>
        <h4 class="exercise-title">Barbell reverse preacher curl</h4>
        <p class="exercise-description"></p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <a href="" class="">
          <svg class="" aria-label="" width="18" height="18">
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </a>
        <h4 class="exercise-title">Barbell rollerout</h4>
        <p class="exercise-description"></p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <a href="" class="">
          <svg class="" aria-label="" width="18" height="18">
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </a>
        <h4 class="exercise-title">Barbell side split squat v. 2</h4>
        <p class="exercise-description"></p>
      </div>
    </li>
  </ul>
</div>
