<div class="exercises-container">
  <h3 class="exercises-header">Exercises</h3>
  <ul class="exercises-list exercises-list-js">
    <li class="exercise-item">
      <div class="exercise-container">
        <h4 class="exercise-title">Air bike</h4>
        <p class="exercise-description">
          A great cardio exercise that works your heart, lungs, and muscles.
        </p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <h4 class="exercise-title">3/4 sit-up</h4>
        <p class="exercise-description">
          A challenging core exercise that targets your abs, obliques, and hip
          flexors.
        </p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <h4 class="exercise-title">45° side bend</h4>
        <p class="exercise-description">
          A great exercise for targeting your obliques.
        </p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <h4 class="exercise-title">Barbell reverse preacher curl</h4>
        <p class="exercise-description">
          A compound exercise that works your biceps, triceps, and shoulders.
        </p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <h4 class="exercise-title">Barbell rollerout</h4>
        <p class="exercise-description">
          A challenging core exercise that targets your abs, obliques, and hip
          flexors.
        </p>
      </div>
    </li>
    <li class="exercise-item">
      <div class="exercise-container">
        <h4 class="exercise-title">Barbell side split squat v. 2</h4>
        <p class="exercise-description">
          A great exercise for targeting your legs and glutes.
        </p>
      </div>
    </li>
  </ul>
</div>
