<div class="muscles-section" id="filter-section">
                <div class="js-loader" style="display: none">
    <div class="loadingio-spinner-ellipsis-lv128fxh5s">
        <div class="ldio-22oodg07xic">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
  <ul class="muscles-list filter-list-js"></ul>
  <nav class="pagination-container">
    <div class="pagination-numbers"></div>
  </nav>
</div>
