<section class="favourites">
  <h2 class="favourites_title">Favorites</h2>
  <div class="favourites_wrapper">
    <div class="favourites_left">
      <div class="favourites_left_quote">
        <div class="favourites_left_quote_top">
          <div class="favourites_left_quote_top_left">
            <div class="favourites_iconBlock">
              <svg class="quote-icon-img" width="20" height="20" aria-label="running-man-icon">
                <use href="./img/svg/sprite.svg#icon-run-man"></use>
              </svg>
            </div>
            <p class="favourites_left_quote_top_left_text">Quote of the day</p>
          </div>
          <svg class="favourites_iconBlock_commas" width="20" height="20" aria-label="quote-icon">
            <use xlink:href="./img/svg/sprite.svg#icon-inverted-commas"></use>
          </svg>
        </div>
        <p class="favourites_left_quote_text">
          A lot of times I find that people who are blessed with the most talent don't ever develop
          that attitude, and the ones who aren't blessed in that way are the most competitive and
          have the biggest heart.
        </p>
        <p class="favourites_left_quote_author">Tom Brady</p>
      </div>
      <div class="favourites_left_bottom">
        <div class="favourites_left_bottom_time">
          <svg
            class="favourites_left_bottom_time_svg"
            width="20"
            height="20"
            aria-label="dumbbell-icon"
          >
            <use href="./img/svg/sprite.svg#icon-dumbbell"></use>
          </svg>
          <h3 class="favourites_left_bottom_time_title">110 min</h3>
          <p class="favourites_left_bottom_time_text">Daily norm of sports</p>
        </div>
        <div class="favourites_left_bottom_img">
          <img src="./img/favorite-img/favorit_tablet.png" alt="women-bicycle">
        </div>
      </div>
    </div>
    <ul class="favourites_list">
    </ul>
  </div>
  <div class="overlay">
    <div class="modal-info modal-get-raiting visually-hidden">
      <button class="modal-button-close" id="button-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <use href="./img/svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</section>