<section class="favourites">

    <h2 class="favourites_title">Favorites </h2>
    <div class="favourites_wrapper">
        <div class="favourites_left">
            <div class="favourites_left_quote">
                <div class="favourites_left_quote_top">
                    <div class="favourites_left_quote_top_left">
                        <div class="favourites_iconBlock">
                            <svg class="favourites_iconBlock_svg">
                                <use xlink:href="../img/icons.svg#icon-running-man"></use>
                            </svg>
                        </div>
                        <p class="favourites_left_quote_top_left_text">
                            Quote of the day
                        </p>
                    </div>
                    <svg class="favourites_iconBlock_commas">
                        <use xlink:href="../img/icons.svg#icon-inverted-commas"></use>
                    </svg>
                </div>
                <p class="favourites_left_quote_text">
                    A lot of times I find that people who are blessed with the most talent don't ever develop that
                    attitude, and the ones
                    who aren't blessed in that way are the most competitive and have the biggest heart.
                </p>
                <p class="favourites_left_quote_author">Tom Brady</p>
            </div>
            <div class="favourites_left_bottom">
                <div class="favourites_left_bottom_time">
                    <svg class="favourites_left_bottom_time_svg">
                        <use xlink:href="../img/icons.svg#icon-dumbbell"></use>
                    </svg>
                    <h3 class="favourites_left_bottom_time_title">110 min</h3>
                    <p class="favourites_left_bottom_time_text">Daily norm of sports </p>
                </div>
                <div class="favourites_left_bottom_img">

                </div>
            </div>
        </div>
        <ul class="favourites_list">
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="favourites_list_item">
                <div class="favourites_list_item_up">
                    <div class="favourites_list_item_up_left">
                        <button class="favourites_btn_workout">
                            workout
                        </button>
                        <button class="favourites_btn_trash">
                            <svg class="favourites_btn_trash_icon">
                                <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="favourites_list_item_up_right">
                        <button class="favourites_btn_start">
                            <p class="favourites_btn_start_text"> start </p>
                            <svg class="favourites_btn_start_icon">
                                <use xlink:href="../img/icons.svg#icon-arrow">

                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="favourites_list_item_middle">
                    <div class="favourites_list_item_middle_icon">
                        <svg class="favourites_list_item_middle_icon_svg">
                            <use xlink:href="../img/icons.svg#icon-running-man"></use>
                        </svg>
                    </div>
                    <h3 class="favourites_list_item_middle_title">
                        Air bike
                    </h3>
                </div>
                <div class="favourites_list_item_bottom">
                    <ul class="favourites_list_item_bottom_list">
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3
                                    min</span>
                            </p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                        </li>
                        <li class="favourites_list_item_bottom_list_item">
                            <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</section>