<section class="favourites">
    <!--<h2 class="favourites_title">Favorites </h2>
    <div class="favourites_container">
        <div class="favourites_container_left">
            <div class="favourites_container_left_dark">
                <svg>
                    <use xlink:href="../img/icons.svg#icon-running-man"></use>
                </svg>
            </div>
        </div>
       
    </div> -->
    <ul class="favourites_list">
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="favourites_list_item">
            <div class="favourites_list_item_up">
                <div class="favourites_list_item_up_left">
                    <button class="favourites_btn_workout">
                        workout
                    </button>
                    <button class="favourites_btn_trash">
                        <svg class="favourites_btn_trash_icon">
                            <use xlink:href="../img/icons.svg#icon-trash-small"></use>
                        </svg>
                    </button>

                </div>
                <div class="favourites_list_item_up_right">
                    <button class="favourites_btn_start">
                        <p class="favourites_btn_start_text"> start </p>
                        <svg class="favourites_btn_start_icon">
                            <use xlink:href="../img/icons.svg#icon-arrow">

                            </use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="favourites_list_item_middle">
                <div class="favourites_list_item_middle_icon">
                    <svg class="favourites_list_item_middle_icon_svg">
                        <use xlink:href="../img/icons.svg#icon-running-man"></use>
                    </svg>
                </div>
                <h3 class="favourites_list_item_middle_title">
                    Air bike
                </h3>
            </div>
            <div class="favourites_list_item_bottom">
                <ul class="favourites_list_item_bottom_list">
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Burned calories: <span>312 / 3 min</span>
                        </p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Body part: <span>Waist</span></p>
                    </li>
                    <li class="favourites_list_item_bottom_list_item">
                        <p class="favourites_list_item_bottom_list_item_text"> Target: <span>Abs</span></p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>