<footer class="footer">
  <div class="container">
    <div class="footer_content">
      <div class="footer_top">
        <div class="footer_top-links">
          <a href="/" class="footer_logo">
            <svg class="color-logo" width="132" height="24" aria-label="logo">
              <use href="./img/svg/sprite.svg#icon-logo"></use>
            </svg>
          </a>
          <ul class="footer_social-list">
            <li class="footer_social-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer_social-link"
                target="_blank"
                rel="noopener"
              >
              <svg class="color-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" aria-label="facebook">
                <use href="./img/svg/sprite.svg#icon-facebook" />
              </svg>
              </a>
            </li>
            <li class="footer_social-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer_social-link"
                target="_blank"
                rel="noopener"
              >
              <svg class="color-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" aria-label="instagram">
                <use href="./img/svg/sprite.svg#icon-instagram" />
              </svg>
              </a>
            </li>
            <li class="footer_social-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer_social-link"
                target="_blank"
                rel="noopener"
              >
              <svg class="color-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" aria-label="youtube">
                <use href="./img/svg/sprite.svg#icon-youtube" />
              </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer_sides footer_top-sides">
          <h4 class="footer_title">Transforming your <em>body</em> shape with us</h4>
          <div class="footer_form-wrapper">
            <h6 class="footer_form-title">Subscribe and learn about new exercises!</h6>
            <form class="form footer_form" id="subscribe-form">
              <input
                id="email"
                type="email"
                class="form_input"
                placeholder="Email"
                required
              />
              <button class="form_button" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="footer_bottom-side">Your Energy. All rights reserved.</div>
        <div class="footer_sides">
          <div class="footer_bottom-side">Privacy Policy / Terms of Service</div>
          <div class="footer_bottom-side footer_bottom-side--is-large">©2023</div>
        </div>
      </div>
    </div>
  </div>
</footer>
