<header class="container">
  <div class="header">
<div>

  <img src = "./img/your-energy.svg" alt="logo"/>
  <p id="user"></p>
</div>
    <nav class="page-navigattion" id="navigation">
      <a  href="./index.html" class="page-navigattion-item active" id="home" >
       <span class="black" id="home-text">Home</span></a>
      <a  href="./favorite.html" class="page-navigattion-item" id="favorites">
        <span  id="favorites-text">Favorites</span></a>
    </nav>
    <ul class ="social-links">
      <li >
        <a  class ="social-links-items" href="https://www.facebook.com/goITclub/" target="_blank">
          <svg  xmlns="http://www.w3.org/2000/svg" width="32px" height="32"> 
            <use href="./img/icons.svg#icon-facebook"  />
          </svg>
        </a>
      </li >
      <li >
        <a  class ="social-links-items" href="https://www.instagram.com/goitclub/" target="_blank">
          <svg  xmlns="http://www.w3.org/2000/svg" width="32px" height="32"> 
            <use href="./img/icons.svg#icon-instagram"  />
          </svg>
        </a>
      </li>
      <li class ="social-links-items">
        <a  class ="social-links-items" href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg  xmlns="http://www.w3.org/2000/svg" width="32px" height="32"> 
            <use href="./img/icons.svg#icon-youtube"  />
          </svg>
        </a>
      </li>
      <li class ="social-links-items">

        <button id="sign-in">
          <img src = "./img/icon-google.svg" alt="google" width="18px" height="18"/>
          SignIn</button>
      
        <button  id="sign-out" class="display-none">Sign out</button>
      </li>
    </ul>
    <button class="burger-button" id="burger-button">
      <svg  xmlns="http://www.w3.org/2000/svg" width="32px" height="32"> 
        <use href="./img/icons.svg#icon-burger-menu" stroke="#242424" />
      </svg>
    </button>
  </div>
</header>

