<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="hero-section">
      <div class="container hero-contrainer">
        <div class="header-hero-wrapper">
          <h1 class="hero-header">
            <svg class="sun-icon-img" width="38" height="38" aria-label="sun-icon">
              <use href="./img/icons.svg#icon-sun"></use>
            </svg>
            Get <span class="accent-header">Body&nbsp;</span> in <br />
            shape, Stay healthy
          </h1>
        </div>
        <p class="hero-quote">
          Transform your physique and embrace a healthier lifestyle with our comprehensive fitness
          and nutrition support.
        </p>
        <picture>
          <source media="(max-width: 767px)" srcset="../img/hero-mobile.jpg" />
          <source
            media="(min-width: 768px) and (max-width: 1440px)"
            srcset="../img/hero-tablet.jpg"
          />
          <source media="(min-width: 1440px)" srcset="../img/hero-desctop.jpg" />
          <!-- Якщо браузер не підтримуе елемент picture -->
          <img class="hero-img" src="../img/hero-desctop.jpg" alt="two-womуn-are-doing-sports" />
        </picture>
        <div class="tag-container">
          <img
            class="decration-img"
            src="../img/decoration-img.png"
            alt="food-friends"
            width="168"
          />
          <ul class="list tag-list">
            <li class="list-item tag-item">#Sport</li>
            <li class="list-item tag-item">#Healthy</li>
            <li class="list-item tag-item">#Workout</li>
            <li class="list-item tag-item">#Diet</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
