<section class="hero-section">
  <div class="container hero-contrainer">
    <div class="header-hero-wrapper">
      <h1 class="hero-header">
        <svg class="sun-icon-img" width="38" height="38" aria-label="sun-icon">
          <use href="./img/svg/sprite.svg#icon-sun"></use>
        </svg>
        Get <span class="accent-header">Body&nbsp;</span> in <br />
        shape, Stay healthy
      </h1>
    </div>
    <p class="hero-quote">
      Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and
      nutrition support.
    </p>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="./img/hero-img/hero-mobile.webp 1x, ./img/hero-img/hero-mobile@2x.webp 2x"
        type="image/webp"
      />
      <source
        media="(min-width: 768px) and (max-width: 1440px)"
        srcset="./img/hero-img/hero-tablet.webp 1x, ./img/hero-img/hero-tablet@2x.webp 2x"
        type="image/webp"
      />
      <source
        media="(min-width: 1440px)"
        srcset="./img/hero-img/hero-desctop.webp 1x, ./img/hero-img/hero-desctop@2x.webp 2x"
        type="image/webp"
      />
      <!-- Якщо браузер не підтримуе елемент picture -->
      <img
        loading="lazy"
        class="hero-img"
        src="./img/hero-img/hero-desctop.png"
        srcset="./img/hero-img/hero-desctop@2x.png 2x"
        alt="two-womуn-are-doing-sports"
      />
    </picture>
    <div class="tag-container">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/hero-img/decoration-img.webp 1x, ./img/hero-img/decoration-img@2x.webp 2x"
          type="image/webp"
        />
        <!-- Якщо браузер не підтримуе елемент picture -->
        <img
          loading="lazy"
          class="decration-img"
          src="./img/hero-img/decoration-img.png"
          srcset="./img/hero-img/decoration-img@2x.png 2x"
          alt="food-friends"
          width="168"
        />
      </picture>
      <ul class="list tag-list">
        <li class="list-item tag-item">#Sport</li>
        <li class="list-item tag-item">#Healthy</li>
        <li class="list-item tag-item">#Workout</li>
        <li class="list-item tag-item">#Diet</li>
      </ul>
    </div>
  </div>
</section>
