<section class="container wrap-head-section">
  <h2 class="title-exercises">Exercises</h2>
  <div class="wrap-exercise-filter">
    <form class="filter-form" action="">
      <input type="text" class="input-exercises" placeholder="Search" />
      <button type="submit" class="btn-search ">
        <svg class="input-icon-btn" width="18" height="18" aria-label="search-icon">
          <use href="./img/icons.svg#icon-search"></use>
        </svg>
      </button>
      <button type="submit" class="btn-search visually-hidden">
        <svg class="input-icon-btn" width="18" height="18" aria-label="search-icon">
          <use href="../img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </form>
    <ul class="wrap-button">
      <li class="wrap-list-btn">
        <button class="btn-filter btn-filter-active" type="button" data-name="Muscles">
          Muscles
        </button>
      </li>
      <li class="wrap-list-btn">
        <button class="btn-filter" type="button" data-name="Body parts">Body parts</button>
      </li>
      <li class="wrap-list-btn">
        <button class="btn-filter" type="button" data-name="Equipment">Equipment</button>
      </li>
    </ul>
  </div>
</section>
